@import url('./vendors/bootstrap-grid.css');

:root {
    --snow-color: #ECEFF4;
    --night-color: #2E3440;
    --dark-color: #3B4252;
    --primary-color: #A64AC9;
    --secondary-color: #17E9E0;
    --mix-color: #5E99D3;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 1.5;
    background: var(--snow-color);
    color: var(--night-color);
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
	font-size: 72px;
	line-height: 72px;
}

h2 {
	font-size: 36px;
    line-height: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

a {
	color: inherit;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.button-primary {
    color: var(--snow-color);
    background: var(--primary-color);
    border-radius: 5px;
    padding: 10px 18px !important;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.button-primary:hover {
    background: red;
    color: white;
}

.button-mix {
    color: var(--snow-color);
    background: var(--mix-color);
    border-radius: 5px;
    padding: 10px 18px !important;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.button-mix:hover {
    background: red;
    color: white;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (max-width: 400px) {
	body {
		font-size: 16px;
	}
}

.list-unstyled {
    padding: 0;
    list-style: none;
}

.list-unstyled li {
    display: inline;
}

.text-center {
    text-align: center;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}
